:root {
    --primary-color: hsl(2, 86%, 50%);
    --secondary-color: hsl(0, 67%, 20%);
    --background-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 100%);
    --accent-color: hsl(51, 100%, 50%);
    --shadow-color: hsla(0, 0%, 0%, 0.1);
    --button-background: hsl(2, 60%, 34%);
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

header {
    background-color: var(--secondary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid var(--primary-color);
}

.main-title {
    font-size: 40px;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo img {
    width: 100px;
}

main {
    flex: 1;
    padding: 20px;
}

.admin-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.admin-users, .admin-pedidos {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 8px var(--shadow-color);
    max-height: 60vh;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px 10px;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    align-items: center;
}

/* Estilos para centrar el botón entre las dos listas */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Mejorar el estilo del botón */
#crear-entrega-btn,
.create-delivery-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Efecto de hover para el botón */
#crear-entrega-btn:hover,
.create-delivery-button:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

/* Efecto para cuando el botón esté activo */
#crear-entrega-btn:active {
    transform: scale(0.98);
}


footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    color: var(--text-color);
    border-top: 2px solid var(--shadow-color);
}

#detalles-btn {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px var(--shadow-color);
}

#detalles-btn:hover {
    background-color: hsl(51, 100%, 40%);
    transform: scale(1.05);
}

#detalles-btn:active {
    transform: scale(0.98);
}

/* Posicionamiento en la esquina superior derecha */
/*header {
    position: relative;
}*/




